<!-- gravatar -->
<img class="media-figure" src="https://secure.gravatar.com/avatar/2a9d38eb7cf351593a174e34ef32e9ad" alt="">
<!-- short story -->
<div class="media-body">
   <h3>Lorenzo Gaggini</h3>
   <h4>Free as in freedom</h4>
   <h5>Sysadmin / Rider / Deejay in Tuscany, Italy</h5>
   <div class="asocial">
       <a href="" class="icon-blog" title="blog"></a>
       <a href="https://github.com/lgaggini" class="icon-github" title="github"></a>
       <a href="https://stackexchange.com/users/1836924/lgaggini?tab=accounts" class="icon-stack" title="stackexchange"></a>
       <a href="http://careers.stackoverflow.com/lgaggini" class="icon-careers" title="careers"></a>
       <a href="" class="icon-email" title="email"></a>
       <a href="" class="icon-house-mixes" title="house-mixes"></a>
       <a href="" class="icon-mixcloud" title="mixcloud"></a>
   </div>
</div>

