<!-- gravatar -->
{% if GRAVATAR %}
    <img class="media-figure" title="{{ AUTHOR }}" src="{{ GRAVATAR }}" alt="">
{% endif %}
<!-- short story -->
<div class="media-body">
    <h3>{{ AUTHOR }}</h3>
    <h4>{{ SLOGAN }}</h4>
    <h5>{{ WHAT_WHERE }}</h5>
    <div class="asocial">
        {% if BLOG_URL %}
            <a href="{{ BLOG_URL }}" class="icon-blog" title="blog"></a>
        {%endif %}
        {% if SOCIAL_GITHUB %}
            <a href="{{ SOCIAL_GITHUB }}" class="icon-github" title="github"></a>
        {%endif %}
        {% if SOCIAL_STACKEXCHANGE %}
            <a href="{{ SOCIAL_STACKEXCHANGE }}" class="icon-stack" title="stackexchange"></a>
        {%endif %}
        {% if SOCIAL_CV %}
            <a href="{{ SOCIAL_CV }}" class="icon-careers" title="curriculum"></a>
        {%endif %}
        {% if SOCIAL_EMAIL %}
            <a href="mailto:{{ SOCIAL_EMAIL }}" class="icon-email" title="email"></a>
        {%endif %}
        {% if SOCIAL_PGP %}
            <a href="{{ SOCIAL_PGP }}" class="icon-lock" title="pgp public key"></a>
        {% endif %}
        {% if SOCIAL_BGG %}
            <a href="{{ SOCIAL_BGG }}" class="icon-bgg" title="boardgamegeek"></a>
        {%endif %}
        {% if SOCIAL_MIXCLOUD %}
            <a href="{{ SOCIAL_MIXCLOUD }}" class="icon-mixcloud" title="mixcloud"></a>
        {%endif %}
        {% if SOCIAL_SOUNDCLOUD %}
            <a href="{{ SOCIAL_SOUNDCLOUD }}" class="icon-soundcloud" title="soundcloud"></a>
        {%endif %}
        {% if SOCIAL_FACEBOOK %}
            <a href="{{ SOCIAL_FACEBOOK }}" class="icon-facebook" title="facebook"></a>
        {%endif %}
        {% if SOCIAL_YOUTUBE %}
            <a href="{{ SOCIAL_YOUTUBE }}" class="icon-youtube" title="youtube"></a>
        {%endif %}
   </div>
</div>

