<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        {% endblock head %}
</head>

<body id="index" class="home">
    <div class="container">
       <!-- main image on the left -->
       <div class="main">
           <div class="quote">
               <cite>Of all the paths you take in life,<br> make sure few of them are dirt.<br> (John Muir)</cite>
           </div>
       </div>
       <!-- text content on the right -->
       <div class="sidebar">
           {% include 'includes/sidebar.html' %}
       </div>
    </div>
</body>
</html>
