<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }} - {{ SLOGAN }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <!-- CSS Reset -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
        <!-- Custom Style -->
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css">
        <!-- Custom a(social) icon by Fontello) -->
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/asocial.css" type="text/css">
        {% endblock head %}
</head>

<body id="index" class="home">
    <div class="container">
       <!-- main image on the left -->
       <div class="main">
           <div class="quote">
               <cite>{{ QUOTE }}</cite>
           </div>
       </div>
       <!-- text content on the right -->
       <div class="sidebar">
           {% include 'includes/sidebar.html' %}
       </div>
    </div>
</body>
</html>
